blis==0.2.4
certifi==2018.11.29
chardet==3.0.4
cymem==2.0.2
Django==2.0.13
django-pandas==0.6.4
gensim==3.8.0
idna==2.8
importlib-metadata==3.10.1
inflect==4.1.0
joblib==0.13.2
murmurhash==1.0.2
nltk==3.4
pandas==0.24.0
plac==0.9.6
preshed==2.0.1
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
scikit-learn==0.20.2
scipy==1.2.0
singledispatch==3.4.0.3
sklearn==0.0
smart-open==5.0.0
sqlparse==0.4.1
srsly==1.0.5
thinc==7.0.8
threadpoolctl==2.1.0
tqdm==4.32.2
typing-extensions==3.7.4.3
urllib3==1.26.4
wasabi==0.8.2
xgboost==0.90
zipp==3.4.1
